body{
    font-family: 'Roboto', sans-serif;
    color:#212121;
    background-color: #ffffff;
    letter-spacing: 0.03em;
}
button{
    color:#FFFFFF;
    background-color:#2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 0px;
}
button:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
a {
color: #757575;
color: #212121;
text-decoration: none;
}
a:hover{
    color: #2196F3;
    text-decoration: underline;
}
.body{
    position: relative;
    width: 1600px;
    height: 2349px;
    background: #FFFFFF;
}
.header{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}
.nav{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

/* Верхня линия */

.logo-text-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    color: #2196F3;
}
.nav-list-studio{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.nav-list-portfolio{
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav-list-contacts{
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.mail{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.tel{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

/* Шапка голавной */

.solution-section{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.business-solution{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.btn-clik{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/* Особености */
.attention-item-one{
    position: absolute;
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
}
.attention-item-two{
    position: absolute;
    width: 270px;
    height: 101px;
    left: 515px;
    top: 774px;
}
.attention-item-three{
    position: absolute;
    width: 270px;
    height: 101px;
    left: 815px;
    top: 774px;
}
.attention-item-four{
    position: absolute;
    width: 270px;
    height: 101px;
    left: 1115px;
    top: 774px;
}
.action{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
}
.inform{
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}

/* Чем ми занимаемся */
.our-activity{
    position: absolute;
    width: 376px;
    height: 42px;
    left: 612px;
    top: 969px;
    font-weight: 700;
    font-size: 36px;
}
.activity-item-comp{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
}
.activity-item-phone{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
}
.activity-item-col{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
}

/* Наша команда */
.our-team{
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1543px;
    font-weight: 700;
    font-size: 36px;
}
.team-item-1{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    background-color: #FFFFFF;
}
.team-item-2{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;
    background-color: #FFFFFF;
}
.team-item-3{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1635px;
    background-color: #FFFFFF;
}
.team-item-4{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;
    background-color:#FFFFFF;
}
.name-colleague-1{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.name-colleague-2{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.name-colleague-3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.name-colleague-4{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.name-work-one{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.name-work-two{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.name-work-three{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.name-work-four{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Подвал страниц */

.page-footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}

.address{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.logo-text-link-footer{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.mail-address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.tel-number{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */

.open-btn-1{
    position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}
.open-btn-2{
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}
.open-btn-3{
    position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}
.open-btn-4{
    position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}
.open-btn-5{
    position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;
    color: #212121;
}
/* Проекти */

.prj-1{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
}
.prj-2{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
}
.prj-3{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 262px;
}
.prj-4{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;
}
.prj-5{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 696px;
}
.prj-6{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 696px;
}
.prj-7{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;
}
.prj-8{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 1130px;
}
.prj-9{
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;
}
.name-prj{
    color: #212121;
}
.category{
    color: #757575;
}